<server>
    <featureManager>
        <feature>restfulWS-3.0</feature>
        <feature>cdi-3.0</feature>
        <feature>enterpriseBeans-4.0</feature>
        <feature>persistence-3.0</feature>
        <feature>jdbc-4.3</feature>
        <feature>jsonb-2.0</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint" httpPort="9080" httpsPort="9443"/>

    <library id="PostgresJDBC">
        <fileset dir="${server.config.dir}/jdbc" includes="postgresql*.jar"/>
    </library>

    <jdbcDriver id="PostgresJDBCDriver" libraryRef="PostgresJDBC"/>

    <!-- DataSource JNDI name used by persistence.xml -->
    <dataSource id="PostgresDS" jndiName="jdbc/PostgresDS" jdbcDriverRef="PostgresJDBCDriver">
        <properties URL="jdbc:postgresql://localhost:5432/liberty-test-db" user="aki" password="akipassword"/>
    </dataSource>
</server>
